.pagedaftar body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Poppins, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    overflow: hidden; /* Mencegah scroll */
}
.pagedaftar {
    display: flex;
    width: 100vw;
    height: 100vh;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.pagedaftar .left-section,
.pagedaftar .right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.pagedaftar .left-section {
    background-image: url('./../../public/img/bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.pagedaftar .left-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 13, 47, 0.5);
    z-index: 1;
}

.pagedaftar .left-section .carousel,
.pagedaftar .left-section .description {
    position: relative;
    z-index: 2;
}

.pagedaftar .carousel {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagedaftar .illustration {
    width: 100%;
    height: auto;
}

.pagedaftar .arrow {
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.pagedaftar .left-arrow {
    left: -20px;
}

.pagedaftar .right-arrow {
    right: -20px;
}

.pagedaftar .description {
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    max-width: 80%;
    color: white;
    line-height: 1.5;
    min-height: 50px;
}

.pagedaftar .right-section {
    background: url("./../../public/img/bgweb.jpeg") no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

.pagedaftar .right-section .content {
    width: 80%;
    max-width: 400px;
    text-align: start;
    padding-top: 40px;
}

.pagedaftar .logo img {
    width: 60px;
}

.pagedaftar h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 1px;
}

.pagedaftar p {
    color: #ffffff;
    font-size: 1rem;
    text-align: start;
    margin: 0;
}

.pagedaftar form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pagedaftar label {
    font-size: 0.9rem;
    color: #ffffff;
    text-align: start;
}

.pagedaftar input[type="email"],
.pagedaftar input[type="password"],
.pagedaftar input[type="text"],
.pagedaftar input[type="tel"] {
    width: 100%;
    padding: 7px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pagedaftar .forgot-password {
    font-size: 0.9rem;
    color: #95caff;
    text-align: left;
    display: block;
}

.pagedaftar .login-button {
    background-color: #3300FF;
    color: white;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.pagedaftar .daftar-button {
    background-color: #3300FF;
    color: white;
    padding: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.pagedaftar .login-button:hover,
.pagedaftar .daftar-button:hover {
    background-color: #568bf3;
}

.pagedaftar .separator {
    margin: 10px 0;
    text-align: center;
    color: #aaa;
    font-size: 0.9rem;
}

.pagedaftar .google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.pagedaftar .google-login img {
    width: 20px;
    margin-right: 10px;
}

.pagedaftar .google-login:hover {
    background-color: #f2f2f2;
}

.pagedaftar .register-link {
    font-size: 0.9rem;
}

.pagedaftar .register-link a {
    color: #95caff;
}

.pagedaftar .register-link a:hover {
    text-decoration: underline;
}

