.sidebar {
    width: 250px;
    height: 100%;
    background-color: rgba(9, 31, 91, 0.5);
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .sidebar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .sidebar h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
  }
  
  .sidebar a:hover {
    background-color: rgba(9, 31, 91, 0.7);
    border-radius: 5px;
  }
  
  .sidebar a i {
    margin-right: 10px;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .popup-pomodoro {
    position: absolute;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    color: white;
  }
  